# Various clutter created by extensions
ac-comphist.dat

# Auto-Save stuff
auto-save-dir/
auto-save-list/

# Backup Stuff
backup-dir/

# el-get directory
el-get/

# tramp history
tramp

# All hidden files
.*

# Except gitignore
!.gitignore
