######################
# From emacs-bedrock #
######################
/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/quelpa

################
# Local Config #
################
local-init.el
extras/local.el

##########
# Extras #
##########
tree-sitter/
auto-saves/
backup/
.local/
%backup%~
tramp
