######################
# From emacs-bedrock #
######################
/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/quelpa


##########
# Extras #
##########
tree-sitter/
auto-saves/
backup/
.local/